<div class="show-container">
  <div class="main-article">
    <p> <%= @article.category %></p>
    <h2><%= @article.title %></h2>
    <h3><%= @article.subtitle %></h3>
  </div>
  <div class="author">
    <h4><%= @article.author %> </h4>
    <h5> <%= @article.created_at.in_time_zone("Buenos Aires").strftime('%d %B - %H:%M') %></h5>
  </div>
  <div class="wrapper">
    <div class="midle-article">
      <img src="<%= @article.photo1 %> " alt="">
      <p> <%= @article.texto %></p>
      <img src="<%= @article.photo2 %>" alt="">
      <p> <%= @article.texto2 %></p>
      <img src="<%= @article.photo3 %> " alt="">
      <p> <%= @article.texto3 %></p>
      <img src="<%= @article.photo4 %>" alt="">
      <p> <%= @article.texto4 %></p>
      <h2> Ultimas Noticias</h2>
      <% recommended_array = Article.order(created_at: :desc) %>
      <% current_index = recommended_array.find_index(@article) %>
      <% next_article = recommended_array[current_index -1 ] %>
      <%= link_to article_path(next_article) do %>
      <h3> <%= next_article.title %></h3>
      <img class= "bottom" src="<%= next_article.photo1 %> ">
      <% end %>
      <% article2 = Article.order(created_at: :desc) %>
      <% current_index = article2.find_index(@article) %>
      <% next_article2 = article2[current_index - 2] %>
      <%= link_to article_path(next_article2) do %>
      <h3> <%= next_article2.title %></h3>
      <img class= "bottom" src="<%= next_article2.photo1 %> " >
      <% end %>
      <% article3 = Article.order(created_at: :desc) %>
      <% current_index = article3.find_index(@article) %>
      <% next_article3 = article3[current_index - 3] %>
      <%= link_to article_path(next_article3) do %>
      <h3> <%= next_article3.title %></h3>
      <img class= "bottom" src="<%= next_article3.photo1 %> " >
      <% end %>
    </div>
    <div id="list">
      <h2>Las mas leidas</h2>
      <% Article.first(5).each do |article|  %>
      <%= render 'shared/ranking', article: article %>
      <% end %>
    </div>
  </div>
</div>
<div class="mas-wrapper">
  <h2> Mas noticias</h2>
  <div class="mas-container">

    <% Article.first(5).reverse_each do |article|  %>
    <%= render 'shared/articulo', article: article %>
    <% end %>
  </div>
</div>
<div class="container">
  <% if user_signed_in? %>
  <div class="button-edit">
    <%= link_to 'Editar' , edit_article_path %>
  </div>

  <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do %>
  <div class="button-delete">
    Borrar noticia
  </div>

  <% end %>
  <% else %>
  <%end  %>
</div>


