<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <%= link_to articles_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/dw7ox75dg/image/upload/v1559327622/Captura_de_Pantalla_2019-05-31_a_la_s_15.33.10.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to articles_path(string: "") do %>Inicio<% end %>
      </li>
      <li class="nav-item">
       <%= link_to articles_path(string: "") do %>Ultimas Noticias<% end %>
     </li>
     <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Mundo<% end %>
    </li>
    <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Politica<% end %>
    </li>
    <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Deportes<% end %>
    </li>
    <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Tecno<% end %>
    </li>
    <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Espectaculos<% end %>
    </li>
    <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Economia<% end %>
    </li>
    <li class="nav-item">
      <%= link_to articles_path(string: "") do %>Autos<% end %>
    </li>
  </ul>
</div>
</div>
<div class="wrapper-1">
  <%= link_to articles_path(string: "") do %>Inicio<% end %>
  <%= link_to articles_path(string: "") do %>Ultimas Noticias<% end %>
  <%= link_to articles_path(string: "") do %>Mundo<% end %>
  <%= link_to articles_path(string: "") do %>Politica<% end %>
  <%= link_to articles_path(string: "") do %>Deportes<% end %>
  <%= link_to articles_path(string: "") do %>Tecno<% end %>
  <%= link_to articles_path(string: "") do %>Espectaculos<% end %>
  <%= link_to articles_path(string: "") do %>Economia<% end %>
  <%= link_to articles_path(string: "") do %>Autos<% end %>
</div>
